* {
  padding: 0;
  margin: 0;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);  
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #222;
  background-color: #fff;
}

/* 全站采取IE怪异盒模型 */
*, .van-popover {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

a {
  outline: none;
  cursor: pointer;
}

.bilifont {
  font-family: bilifont!important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

* ::selection {
  background: #73c9e5;
  color: inherit;
}
::selection {
  background: #1890ff;
  color: #fff;
}